<header class="chat-bot__header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chat-bot__header-name">Nordea TDM Portal</div>
            </div>
            <div class="col-md-6 text-right">
                <div class="topIcons">
                    <a href="#" class="mr-3"><i class="fas fa-home"></i></a>
                    <a href="#"><i class="fas fa-bell"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>